[Unit]
Description=Gunicorn service for Chubby
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/chubby
ExecStart=/opt/chubby/start_gunicorn.sh
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
