[Unit]
Description=Gunicorn service for my app
After=network.target

[Service]
User=username
Group=groupname
WorkingDirectory=/opt/human-features
ExecStart=/opt/human-features/start_gunicorn.sh

[Install]
WantedBy=multi-user.target
