# place this at:
# /etc/systemd/system/gunicorn.service
# and then run:
# systemctl enable gunicorn.service
# systemctl start gunicorn.service


[Unit]
Description=Gunicorn service for my app
After=network.target

[Service]
User=username
Group=groupname
WorkingDirectory=/path/to/your/app
ExecStart=/path/to/start_gunicorn.sh

[Install]
WantedBy=multi-user.target
